@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;700&display=swap');

/* Initial Setup */
:root{
    --lg-font: 'Josefin Sans', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
    --primary: #0d6efd;
    --warning: #ffc107;
}
body {
    font-family: var(--sm-font);
}
/* .btn:not(.nav-btns button) {
    background-color: white;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
} */
.btn:not(.nav-btns button):hover {
    background-color: whitesmoke;
    color: black;
    border: whitesmoke;

}
.btn {
    border-radius: 2px;
}

.title-border {
    border-top: 5px solid var(--warning);
    border-bottom: none;
    width: 90px;
    margin-top: 0;
}

/* <!-- ---- Navbar ---- --> */
.navbar-brand img{
    width: 40px;
}
#brand-name{
    /* letter-spacing: 1px; */
    font-family: var(--sm-font);
}
.navbar {
   box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
   opacity: 90%;
}

.nav-link:hover{
    color: white !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

@media(min-width: 992px) {
    .nav-item{
        border-bottom: none;
    }

    /* Promo */
    #promo .container {
        max-width: 960px;
    }

    /* Fundraisers */
    #fundraisers {
        /* margin-top: 200px; */
    }
}

@media(max-width: 991px) {
    /* Fundraisers */
    #fundraisers {
        margin-top: 100px;
    }
}
@media(max-width: 768px) {
    /* Fundraisers */
    #fundraisers {
        margin-top: 400px;
    }
}
@media(max-width: 576px) {
    /* Fundraisers */
    #fundraisers {
        margin-top: 500px;
    }
}

/* Hero */
#hero {
    background: url(../images/hero-cover.png) top/cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.664);
    
}

#hero h1 {
    font-family: var(--lg-font);
    font-weight: 400 !important;
}

/* Promo */
#promo {
    margin-top: -200px;
    min-height: 360px;
}
.promo-wrap {
    z-index: 99;
}
/* #promo .container {
    padding: 0 15px ;
    margin: 0 auto;
} */
#promo .row {
    background-color: #fff;
    box-shadow: 0px 16px 28px 0px rgb(0 0 0 / 15%);
}


/* Current Fundraisers */
#fundraisers {
    background: url(../images/scholars_bg.png) top/cover;
}
.progress {
    border-radius: 0px;
}
.progress-bar {
    text-align: end;
    padding-right: 10px;
}
#fundraisers span {
    top: 20px;
    right: 30px;
}

/* Ultra Scholars */
#scholars {
    background-color:whitesmoke;
}

.carousel-item img {
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

#scholars h3 {
    margin-left: 30%;
    margin-right: 30%;
}




#newsletter .input-group {
    max-width: 500px;
}

#newsletter .form-control {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
} */

/* #newsletter .btn {
    background-color: var(--pink);
    color: white;
    border-color: var(--pink);
} */
/* 
#newsletter .btn:hover {
    background-color: black;
    color: white;
}   */

/* Footer */
footer .brand {
    font-family: var(--lg-font);
    letter-spacing: 2px;;

}


/* ***** Login Registration ***** */

.page-content {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(230, 230, 230), white);
}

#login .row {
    background-color: rgb(255, 215, 107);
    border-radius: 30px;
    box-shadow: 12px 12px 30px rgb(189, 183, 183);
}

#login img {
    opacity: 85%;
}

